<html>
<head>
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<img src="/public/assets/SlightlyCloudyLogo.png" alt="cloudylogo">
<h1>My Weather App</h1>
<div id="homepage">
    <form action="/weather" method="get">

        <label for="lat">Please enter latitude:   </label> </br>
        <input type="text" id="lat" name="lat"/> </br>

        <label for="lon">Please enter longitude:   </label> </br>
        <input type="text" id="lon" name="lon"/></br>

        <input type="submit"/></br>

    </form>
</div>
</body>
</html>